
<div id="top"><h1><b>Ремонт стиральных машин</b></h1>
  <div>
    <span class="img">
      <img src="https://master-plus23.ru/www/images/fast-delivery_prev.png" alt=""></span><br>
    <span class="heading">Бесплатный выезд мастера</span>
  </div>
  <div>
    <span><img src="https://master-plus23.ru/www/images/timer_prev.png" alt=""></span><br>
    <span class="heading">Приезд мастера 35 минут, все районы</span>
  </div>
  <div>
      <img src="https://master-plus23.ru/www/images/edited_prev.png" alt=""></span><br>
    <span class="heading">Качественный ремонт за один визит</span>
  </div>
</div>



<div id="main">
  <div class="intro">
      <img src="https://sun9-44.userapi.com/impg/ZTErCbCAA2ouNGN5cd1G4sBOlToXboZvYMUa6g/OF0dLl_GZNE.jpg?size=315x316&quality=95&sign=5bfe1033c55f0a84866a5d10db1304aa&type=album" alt=""></span><br> 
  </div>
  <div class="text">
    <span><p><b>Когда</b> ваша стиральная машина выходит из строя, это может стать настоящей головной болью. 
            Но не стоит паниковать – вам нужен опытный мастер по ремонту стиральных машин. 
            Наши мастера знают все о стиральных машинах и могут быстро и эффективно устранить любую неисправность. 
            Мы можем помочь вам с заменой деталей, ремонтом электронных плат, заменой ремней и многое другое.</p>

            <p><b>Если</b> вы не можете привезти свою стиральную машину в сервисный центр, не беспокойтесь – наши мастера 
            по ремонту стиральных машин предлагают услуги на дому. Это означает, что мастер приедет к вам домой 
            в течение 35 минут и выполнит все необходимые работы прямо у вас на месте. Это удобно и экономит ваше время.</p></span>
  </div>
</div>



<div id="overview">
  <h2>Ремонтируем стиральные машины любых моделей</h2>
    <h4>Когда ваша стиральная машина выходит из строя, вам нужен мастер, который может работать с любыми моделями. 
        Независимо от того, какую марку или модель стиральной машины у вас есть, наш опытный мастер по ремонту стиральных 
        машин сможет быстро и эффективно устранить любую неисправность.</h4>

  <div class="img">
      <img class="standart" src="https://ireland.apollo.olxcdn.com/v1/files/3mvip0hpgdoq-UA/image;s=644x461" alt="">
    <span class="stdn">Узкие и стандартные стиральные машины</span>
  </div>
  <div class="img">
      <img class="horizontally" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT33dFAA2PSNiaq1AM865t0_0lQp5oDNSn32w&usqp=CAU alt="">
    <span class="horz">Вертикальные стиральные машины</span>
  </div>
  <div class="img">
      <img class="technology" src="https://sun9-68.userapi.com/impg/t7yW_ZTCFcM1fhLEy07_rOi4rC573QxNilkWMA/BF-ulLZJjIE.jpg?size=215x234&quality=96&sign=23c9ab7156fa8a1392632e886255d876&type=album alt="">
    <span class="tech">Технологичные стиральные машины</span>
  </div>
</div>



<div id="brands">
  <div class="front-page-title">
    <h2>Ремонтируем все марки</h2>
  </div>
    <p>Ремонтируем стиральные машины более чем 30-ти различных брендов, в том числе:</p>
      <ul class="col-in-flex brands-content-list">
        <li class="brands-list-item col-md-4">
          <a class="brands-list-link">
            <img src="https://trs13.ru/wp-content/themes/mysupertheme/image/brands/samsung.png" alt="Samsung">
          </a>
        </li>
        <li class="brands-list-item col-md-4">
          <a class="brands-list-link">
            <img src="https://trs13.ru/wp-content/themes/mysupertheme/image/brands/aeg.png" alt="AEG">
          </a>
        </li>
        <li class="brands-list-item col-md-4">
          <a class="brands-list-link">
            <img src="https://trs13.ru/wp-content/themes/mysupertheme/image/brands/asko.png" alt="Asko">
          </a>
        </li>
        <li class="brands-list-item col-md-4">
          <a class="brands-list-link">
            <img src="https://trs13.ru/wp-content/themes/mysupertheme/image/brands/ariston.png" alt="Ariston">
          </a>
        </li>
      </ul>
      <ul class="col-in-flex brands-content-list">
        <li class="brands-list-item col-md-4">
          <a class="brands-list-link">
            <img src="https://trs13.ru/wp-content/themes/mysupertheme/image/brands/hansa.png" alt="Hansa">
          </a>
        </li>
        <li class="brands-list-item col-md-4">
          <a class="brands-list-link">
            <img src="https://trs13.ru/wp-content/themes/mysupertheme/image/brands/lg.png" alt="LG">
          </a>
        </li>
        <li class="brands-list-item col-md-4">
          <a class="brands-list-link">
            <img src="https://trs13.ru/wp-content/themes/mysupertheme/image/brands/indesit.png" alt="Indesit">
          </a>
        </li>
        <li class="brands-list-item col-md-4">
          <a class="brands-list-link">
            <img src="https://trs13.ru/wp-content/themes/mysupertheme/image/brands/ardo.png" alt="Ardo">
          </a>
        </li>
      </ul>
      <ul class="col-in-flex brands-content-list">
        <li class="brands-list-item col-md-4">
          <a class="brands-list-link">
            <img src="https://trs13.ru/wp-content/themes/mysupertheme/image/brands/beko.png" alt="Beko">
          </a>
        </li>
        <li class="brands-list-item col-md-4">
          <a class="brands-list-link">
            <img src="https://trs13.ru/wp-content/themes/mysupertheme/image/brands/candy.png" alt="Candy">
          </a>
        </li>
        <li class="brands-list-item col-md-4">
          <a class="brands-list-link">
            <img src="https://trs13.ru/wp-content/themes/mysupertheme/image/brands/daewoo.png" alt="Daewoo">
          </a>
</li>
<li class="brands-list-item col-md-4">
            <a class="brands-list-link">
              <img src="https://trs13.ru/wp-content/themes/mysupertheme/image/brands/electrolux.png" alt="Electrolux">
            </a>
</li>
</ul>
<ul class="col-in-flex brands-content-list">
<li class="brands-list-item col-md-4">
            <a class="brands-list-link">
              <img src="https://trs13.ru/wp-content/themes/mysupertheme/image/brands/boschs.png" alt="Bosch">
            </a>
</li>
<li class="brands-list-item col-md-4">
            <a class="brands-list-link">
              <img src="https://trs13.ru/wp-content/themes/mysupertheme/image/brands/siemens.png" alt="Siemens">
            </a>
</li>
<li class="brands-list-item col-md-4">
            <a class="brands-list-link">
              <img src="https://trs13.ru/wp-content/themes/mysupertheme/image/brands/miele.png" alt="Miele">
            </a>
</li>
<li class="brands-list-item col-md-4">
            <a class="brands-list-link">
              <img src="https://trs13.ru/wp-content/themes/mysupertheme/image/brands/zanussi.png" alt="Zanussi">
            </a>
</li>
</ul>
<ul class="col-in-flex brands-content-list">
<li class="brands-list-item col-md-4">
            <a class="brands-list-link">
              <img src="https://trs13.ru/wp-content/themes/mysupertheme/image/brands/whirpool.png" alt="Whirlpool">
            </a>
</li>
<li class="brands-list-item col-md-4">
            <a class="brands-list-link">
              <img src="https://trs13.ru/wp-content/themes/mysupertheme/image/brands/kaiser.png" alt="Kaiser">
            </a>
</li>
<li class="brands-list-item col-md-4">
            <a class="brands-list-link">
              <img src="https://trs13.ru/wp-content/themes/mysupertheme/image/brands/gorenje.png" alt="Gorenje">
            </a>
</li>
<li class="brands-list-item col-md-4">
            <a class="brands-list-link">
              <img src="https://trs13.ru/wp-content/themes/mysupertheme/image/brands/neff.png" alt="Neff">
            </a>
</li>
</ul>
</div>
  </div>







<div class="steps-items-bord">
<div class="front-items">
 <div class="front-page-title">
    <h2>Как мы работаем?</h2>
  </div>
    <p>Схема нашей работы абсолютно прозрачна и доступна для ознакомления каждому потенциальному клиенту:</p>
<div class="steps-item">
 
<img class="steps-icon"> <%= image_tag("image1.png") %></img>
<div class="steps-text">
	Прием заявки
</div>
<p>
	Вы описываете признаки неисправности и<br> сообщаете удобное время для визита мастера.
</p>
</div>
<div class="steps-item">
<img class="steps-icon"> <%= image_tag("image2.png") %></img>
<div class="steps-text">
	Выезд мастера
</div>
<p>
	Мастер приезжает по указанному Вами<br> адресу в заранее оговоренное время.
</p>
</div>
<div class="steps-item">
<img class="steps-icon"> <%= image_tag("image3.png") %></img>
<div class="steps-text">
	Диагностика
</div>
<p>
	Мастер производит комплексную диагностику и озвучивает варианты ремонта стиральной машины.
</p>
</div>

</div>
<div class="front-items">

<div class="steps-item">
<img class="steps-icon"> <%= image_tag("image4.png") %></img>
<div class="steps-text">
	Расчет стоимости
</div>
<p>
	После выбора наиболее оптимального варианта устранения неисправности мастер называет точную стоимость ремонта.
</p>
</div>
<div class="steps-item">
<img class="steps-icon"> <%= image_tag("image5.png") %></img>
<div class="steps-text">
	Ремонт техники
</div>
<p>
	Ремонт производится прямо у Вас дома.<br> В среднем процесс занимает от 20-ти минут<br> до 2-х часов.
</p>
</div>
<div class="steps-item">
<img class="steps-icon"> <%= image_tag("image6.png") %></img>
<div class="steps-text">
	Гарантия и оплата
</div>
<p>
	После завершения работы и оплаты Вам предоставляется гарантийный талон <br>(на срок до 12-ти месяцев).
</p>
</div>

</div>
</div>













<div class="steps-items-bords">
<div class="front-items">
 <div class="front-page-title">
    <h2>Преимущеста работы с нами</h2>
  </div>
    <p>Почему Вам стоит обратиться именно в наш сервисный центр для ремонта стиральной машины:</p>
<div class="steps-item">
<img class="steps-icon"> <%= image_tag("image10.png") %></img>
<div class="steps-text">
	Безналичная оплата
</div>
<p>
	Мы поддерживаем безналичную оплату за услуги по ремонту стиральных машин.
</p>
</div>
<div class="steps-item">
<img class="steps-icon"> <%= image_tag("image18.png") %></img>
<div class="steps-text">
	Гарантия
</div>
<p>
	На все работы и запчасти предоставляется официальная гарантия.
</p>
</div>
<div class="steps-item">
<img class="steps-icon"> <%= image_tag("image12.png") %></img>
<div class="steps-text">
	Опыт работы
</div>
<p>
	За более чем 10 лет работы мы произвели уже 1 428 ремонтов стиральных машин.
</p>
</div>

</div>

<div class="front-items">

<div class="steps-item">
<img class="steps-icon"> <%= image_tag("image15.png") %></img>
<div class="steps-text">
	Высокое качество
</div>
<p>
          Мы дорожим своей репутацией и поддерживаем качество сервиса на высоком уровне.
</p>
</div>
<div class="steps-item">
<img class="steps-icon"> <%= image_tag("image17.png") %></img>
<div class="steps-text">
	Надёжность
</div>
<p>
	Мы готовы к работе в любой день недели без выходных и праздников.
</p>
</div>
<div class="steps-item">
<img class="steps-icon"> <%= image_tag("image11.png") %></img>
<div class="steps-text">
	Система скидок
</div>
<p>
	Скидка при заказе услуг через сайт — 10%. Действуют льготные условия для пенсионеров.
</p>
</div>

</div>

<div class="front-items">

<div class="steps-item">
<img class="steps-icon"> <%= image_tag("image13.png") %></img>
<div class="steps-text">
	Бесплатная диагностика
</div>
<p>
	Мастер бесплатно выезжает к Вам и осуществляет диагностику и ремонт на дому.
</p>
</div>
<div class="steps-item">
<img class="steps-icon"> <%= image_tag("image14.png") %></img>
<div class="steps-text">
	Профессионализм
</div>
<p>
	Мы беремся даже за самые сложные ремонты.<br> У нас работают мастера своего дела. 
</p>
</div>
<div class="steps-item">
<img class="steps-icon"> <%= image_tag("image16.png") %></img>
<div class="steps-text">
	Оригинальные запчасти
</div>
<p>
	Мы используем только оригинальные запчасти, которые всегда есть в наличии на наших складах.
</p>
</div>

</div>

</div>















  <div id="contacts">
    <center><h5>Обратная связь</h5></center>
    <form id="form_input">
      <label for="name">Имя <span>*</span></label><br>
      <input type="text" placeholder="Введите имя" name="name" id="name"><br>
      <label for="email">Ваша почта <span>*</span></label><br>
			<input type="email" placeholder="Введите email" name="email" id="email"><br>
			<label for="message">Сообщение <span>*</span></label><br>
			<textarea placeholder="Введите ваше сообщение" name="message" id="message"></textarea><br>
			<div id="mess_send" class="btn">Отправить</div>
    </form>
  </div>



  <div id="faq">
   <div class="row contacts-rm">
            <div class="col-md-3 col-3 py-3 py-4">
              <img class="steps-icon"> <%= image_tag("1.png") %></img>
             <i> Адрес: г.Саранск,<br>ул. Республиканская, д. 104</i>
              </div>
            <div class="col-md-3 col-3 py-3 py-4">
              <img class="steps-icon"> <%= image_tag("2.png") %></img>
              <i>
				  <a href="tel:+78342343125"><span style="color: #605f5f;font-weight: 500;font-size: 20px;">+7 (8342) <span style="color: #fea700;">34-31-25</span></span></a><br>
				  <a href="tel:+79513403125"><span style="color: #605f5f;font-weight: 500;font-size: 20px;">+7 (951) <span style="color: #fea700;">340-31-25</span></span></a> 
             </i>
              </div>
            <div class="col-md-3 col-3 py-3 py-4">
              <img class="steps-icon"> <%= image_tag("3.png") %></img>
              <i>tehnorem13@ya.ru</i>
              </div>
            <div class="col-md-3 col-3 py-3 py-4">
              <img class="steps-icon"> <%= image_tag("4.png") %></img>
              <i>Часы работы: с 9:00 до 21:00 ежедневно (без выходных)</i>
              </div>
       </div>
  </div>






  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script>
    function slowScroll(id) {
      $('html, body').animate({
        scrollTop: $(id).offset().top
      }, 500);
    }

    $(document).on("scroll", function () {
      if($(window).scrollTop() === 0)
        $("header").removeClass("fixed");
      else
        $("header").attr("class", "fixed");
    });
  </script>



