<% provide :clients_title, 'Отзыв' %>

<container class="show">
  <div class="show_review">
    <article class="card mt-3">
      <div class="card-body">
          <h1 class="mb-1"><i><%= @review.body %></i> </h1>
          <time datetime="<%= @review.formatted_created_at %>">
          <%= @review.formatted_created_at %></time>
        <div class="coll_btn">
        <%= link_to 'Показать полностью', review_path(@review), class: 'btn btn mt-2 mb-1'%>
          <%= link_to 'Редактировать', edit_review_path(@review), class: 'btn btn mt-2 mb-2' %>
        <%= link_to 'Удалить', review_path(@review), class: 'btn btn mt-2 mb-0', data: {method: :delete, confirm: 'Вы точно уверены?'} %>
        </div>
      </div>
    
    
      <%= render 'comments/form' %>
    
        <h2 class="mb-1">Комментарии</h2>
          <% @comments.each do |comment|%>
          <hr class="my-3">
        <i class="comment"><%= comment.body %></i>
      <div class="comment_time">
          <time datetime="<%= comment.formatted_created_at %>">
        <%= comment.formatted_created_at %></time></div>
      <div class="comment_btn">
        <%= link_to 'Редактировать', edit_review_comment_path(@review, comment), class: 'btn btn-long' %>
        <%= link_to 'Удалить', review_comment_path(@review, comment), class: 'btn btn-sm',
                                data: {method: :delete, confirm: "Вы уверены?"} %>
      </div>
          <hr class="my-3">
      </div>
          <% end %>
    </article>
  </div>
</container>




